@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fumfik Company</h1>
    <p>Aplikacja ukazuje 6 Przypadków użycia</p>

    <h4>Maja Placek</h4>
    <p> Obliczenie wskaźnika rekrutacyjnego na studia I stopnia </p>
    <p>Przeglądanie rekomendacji</p>
    

    <h4>Mikołaj Jastrzębski</h4>
    <p> Przeglądanie oferty studiów </p>
    <p>Wypełnianie ankiety dotyczącej zainteresowań</p>

    <h4>Aleksander Musz</h4>
    <p> Obliczenie wskaźnika rekrutacyjnego na studia II stopnia </p>
    <p>Przeglądanie informacji o kierunku</p>
</div>
