@model ValueTuple<PO_project.Models.Kierunek, double?, double?>

@{
    ViewData["Title"] = "Kalkulator";
}

<h1>Budwal 2</h1>

@using (Html.BeginForm("Calculate", "Kierunek", FormMethod.Get, new { id = "filterForm" }))
{
    <div class="form-group">
        <div class="select-container">
            <h4> Wybierz stopień </h4>
            <label for="d">Ocena na dyplomie</label>
            <input name="d" id="d" type="number" step="any" />
            <label for="sr">Średnia ważona z przebiegu studiów</label>
            <input name="sr" id="sr" type="number" step="any" />
            <label for="e">Ocena z egzaminu przeprowadzonego na PWR</label>
            <input name="e" id="e" type="number" step="any" />

            <label for="group1">Grupa1 - 15pkt</label>
            <input name="od" id="group1" type="radio" value="15">

            <label for="group2">Grupa2 - 10pkt</label>
            <input name="od" id="group2" type="radio" value="10">

            <label for="group3">Grupa3 - 0pkt</label>
            <input name="od" id="group3" type="radio" value="0">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Oblicz wskaźnik</button>
}


@if(Model.Item2 != null)
{
    <p>@Model.Item2</p>
}
@if (Model.Item3 != null)
{
    <p>@Model.Item3</p>
}
