@model IEnumerable<PO_project.Models.Pytanie>

<link rel="stylesheet" href="~/css/pytanie.css" />

@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Ankieta zainteresowań</h1>
</div>

<p>
    Chcesz wybrać studia, które liczą się na rynku pracy i będą zgodne z Tobą? A konkretniej: z Twoimi zainteresowaniami, uzdolnieniami...
    Rozwiąż krótki test preferencji. Ten test to rodzaj zabawy/quizu, w której będziesz udzielać odpowiedzi na kolejne pytania. Na tej
    podstawie otrzymasz wynik, czyli podpowiedź w postaci kilku proponowanych kierunków studiów na PWr. Może uda nam się trafić w Twój gust
    i któryś kierunek okaże się strzałem w dziesiątkę!
</p>


<hr class="solid">

