@model IEnumerable<PO_project.Models.Kierunek>

<link rel="stylesheet" href="~/css/recomendations.css" />

@{
    ViewData["Title"] = "Create";
}

<div class="ankieta">
    <h1>Lista porponowanych kierunków powiązanych z Twoim zainteresowaniami</h1>
</div>


<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-md-3 card">
            <a asp-controller="Kierunek" asp-action="Details" asp-route-id="@item.KierunekId">
                @item.Name
            </a>
        </div>
    }
</div>