body {
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: steelblue;
    color: white;
}

tr:nth-child(even) {
    background-color: lightsteelblue;
}

tr:nth-child(odd) {
    background-color: white;
}

.links-container {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: white;
    background-color: steelblue;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 40em;
    text-align: center;
    margin-top: 20px;
}

.link:hover {
    background-color: lightsteelblue;
    text-decoration: none;
    color: white;
}   