body {
}

.main-content-container {
    position: relative;
    width: 50vh;
}

.top-choice-box {
    height: 10vh;
    width: 100%;
    margin: 5vh 0 5vh 0;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.description-holder {
    position: relative;
    flex-grow: 1;
    height: 80%;
    width: 20%;
    margin-left: 5%;
    border: 3px solid rgb(60, 60, 60);
    border-radius: 20px;
}

.description-holder:hover {
    cursor: grab;
}

.description-holder:hover {
    font-size: 105%;
}

.description-holder:last-child {
    margin-right: 5%;
}
.top-choice-box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: font-size ease 0.2s;
}
