@model IEnumerable<PO_project.Models.Kierunek>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Kierunek.css" />


<div>
    <h1>Przegląd listy kierunków</h1>
</div>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <a asp-action="Details" asp-route-id="@item.KierunekId">@item.Name</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
